

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'u-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-分布数据库:before {
  content: "\e903";
}
.icon-计算机工厂:before {
  content: "\e904";
}
.icon-企业级uwaf:before {
  content: "\e905";
}
.icon-线上调查:before {
  content: "\e906";
}
.icon-续费:before {
  content: "\e907";
}
.icon-业务安全:before {
  content: "\e908";
}
.icon-业务组管理:before {
  content: "\e909";
}
.icon-资源管理:before {
  content: "\e90a";
}
.icon-ai:before {
  content: "\e90b";
}
.icon-air-play:before {
  content: "\e90c";
}
.icon-align-center:before {
  content: "\e90d";
}
.icon-align-justify:before {
  content: "\e90e";
}
.icon-align-left:before {
  content: "\e90f";
}
.icon-align-right:before {
  content: "\e910";
}
.icon-alt:before {
  content: "\e911";
}
.icon-anchor:before {
  content: "\e912";
}
.icon-anti-fraud:before {
  content: "\e913";
}
.icon-api:before {
  content: "\e914";
}
.icon-app-security:before {
  content: "\e915";
}
.icon-archive:before {
  content: "\e916";
}
.icon-arrow-down:before {
  content: "\e917";
}
.icon-arrow-left:before {
  content: "\e918";
}
.icon-arrow-right:before {
  content: "\e919";
}
.icon-arrow-up:before {
  content: "\e91a";
}
.icon-bag:before {
  content: "\e91b";
}
.icon-ban-2:before {
  content: "\e91c";
}
.icon-ban:before {
  content: "\e91d";
}
.icon-bar-graph-2:before {
  content: "\e91e";
}
.icon-bar-graph:before {
  content: "\e91f";
}
.icon-battery:before {
  content: "\e920";
}
.icon-beian:before {
  content: "\e921";
}
.icon-bell:before {
  content: "\e922";
}
.icon-bigdata:before {
  content: "\e923";
}
.icon-briefcase:before {
  content: "\e924";
}
.icon-btw:before {
  content: "\e925";
}
.icon-buoy:before {
  content: "\e926";
}
.icon-c:before {
  content: "\e927";
}
.icon-c2:before {
  content: "\e928";
}
.icon-calculator:before {
  content: "\e929";
}
.icon-calendar:before {
  content: "\e92a";
}
.icon-camera:before {
  content: "\e92b";
}
.icon-card:before {
  content: "\e92c";
}
.icon-cbox2:before {
  content: "\e92d";
}
.icon-centos:before {
  content: "\e92e";
}
.icon-check:before {
  content: "\e92f";
}
.icon-checkbox .path1:before {
  content: "\e930";
  color: rgb(0, 0, 0);
}
.icon-checkbox .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(4, 0, 0);
}
.icon-circle-add:before {
  content: "\e932";
}
.icon-circle-check_hover:before {
  content: "\e933";
}
.icon-circle-check:before {
  content: "\e934";
}
.icon-circle-cross:before {
  content: "\e935";
}
.icon-circle-i:before {
  content: "\e936";
}
.icon-circle-mark:before {
  content: "\e937";
}
.icon-circle-minus:before {
  content: "\e938";
}
.icon-circle-plus:before {
  content: "\e939";
}
.icon-circle-question:before {
  content: "\e93a";
}
.icon-circle-yes:before {
  content: "\e93b";
}
.icon-circle:before {
  content: "\e93c";
}
.icon-clipboard:before {
  content: "\e93d";
}
.icon-clock:before {
  content: "\e93e";
}
.icon-cloud-anti:before {
  content: "\e93f";
}
.icon-cloud-download:before {
  content: "\e940";
}
.icon-cloud-encrypt:before {
  content: "\e941";
}
.icon-cloud-paas:before {
  content: "\e942";
}
.icon-cloud-physical:before {
  content: "\e943";
}
.icon-cloud-private:before {
  content: "\e944";
}
.icon-cloud-upload:before {
  content: "\e945";
}
.icon-cloud:before {
  content: "\e946";
}
.icon-cog:before {
  content: "\e947";
}
.icon-columns:before {
  content: "\e948";
}
.icon-command:before {
  content: "\e949";
}
.icon-content-left:before {
  content: "\e94a";
}
.icon-content-right:before {
  content: "\e94b";
}
.icon-contract:before {
  content: "\e94c";
}
.icon-copy:before {
  content: "\e94d";
}
.icon-cross:before {
  content: "\e94e";
}
.icon-dashbord-meum:before {
  content: "\e94f";
}
.icon-data-analyse:before {
  content: "\e950";
}
.icon-data-ark:before {
  content: "\e951";
}
.icon-data-audit:before {
  content: "\e952";
}
.icon-data-warehouse:before {
  content: "\e953";
}
.icon-debian:before {
  content: "\e954";
}
.icon-delete:before {
  content: "\e955";
}
.icon-disc:before {
  content: "\e956";
}
.icon-dns:before {
  content: "\e957";
}
.icon-doker:before {
  content: "\e958";
}
.icon-door:before {
  content: "\e959";
}
.icon-download:before {
  content: "\e95a";
}
.icon-drop:before {
  content: "\e95b";
}
.icon-duandian:before {
  content: "\e95c";
}
.icon-edit:before {
  content: "\e95d";
}
.icon-edu:before {
  content: "\e95e";
}
.icon-eip:before {
  content: "\e95f";
}
.icon-Elasticsearch:before {
  content: "\e960";
}
.icon-eleplant:before {
  content: "\e961";
}
.icon-ellipsis:before {
  content: "\e962";
}
.icon-esc:before {
  content: "\e963";
}
.icon-expand:before {
  content: "\e964";
}
.icon-eye:before {
  content: "\e965";
}
.icon-fast-forward:before {
  content: "\e966";
}
.icon-fhnl:before {
  content: "\e967";
}
.icon-file-add:before {
  content: "\e968";
}
.icon-file-subtract:before {
  content: "\e969";
}
.icon-file:before {
  content: "\e96a";
}
.icon-finance:before {
  content: "\e96b";
}
.icon-firewall:before {
  content: "\e96c";
}
.icon-flag:before {
  content: "\e96d";
}
.icon-folder:before {
  content: "\e96e";
}
.icon-game:before {
  content: "\e96f";
}
.icon-gentoo:before {
  content: "\e970";
}
.icon-globe:before {
  content: "\e971";
}
.icon-gongxiangdaikuan:before {
  content: "\e972";
}
.icon-grid:before {
  content: "\e973";
}
.icon-hacker:before {
  content: "\e974";
}
.icon-head:before {
  content: "\e975";
}
.icon-headset:before {
  content: "\e976";
}
.icon-heart:before {
  content: "\e977";
}
.icon-helpbook:before {
  content: "\e978";
}
.icon-home:before {
  content: "\e979";
}
.icon-host:before {
  content: "\e97a";
}
.icon-hotupdate:before {
  content: "\e97b";
}
.icon-huishou:before {
  content: "\e97c";
}
.icon-hybird:before {
  content: "\e97d";
}
.icon-image:before {
  content: "\e97e";
}
.icon-inbox:before {
  content: "\e97f";
}
.icon-jia:before {
  content: "\e980";
}
.icon-jingxiang:before {
  content: "\e981";
}
.icon-jrjg:before {
  content: "\e982";
}
.icon-kafka:before {
  content: "\e983";
}
.icon-kehuanli:before {
  content: "\e984";
}
.icon-kssj:before {
  content: "\e985";
}
.icon-kssj2:before {
  content: "\e986";
}
.icon-lab:before {
  content: "\e987";
}
.icon-lang:before {
  content: "\e988";
}
.icon-layers:before {
  content: "\e989";
}
.icon-layout:before {
  content: "\e98a";
}
.icon-line:before {
  content: "\e98b";
}
.icon-link:before {
  content: "\e98c";
}
.icon-list_ico:before {
  content: "\e98d";
}
.icon-list_ico2:before {
  content: "\e98e";
}
.icon-list_ico3:before {
  content: "\e98f";
}
.icon-list_ico4:before {
  content: "\e990";
}
.icon-list:before {
  content: "\e991";
}
.icon-load:before {
  content: "\e992";
}
.icon-loading:before {
  content: "\e993";
}
.icon-location-2:before {
  content: "\e994";
}
.icon-location:before {
  content: "\e995";
}
.icon-lock:before {
  content: "\e996";
}
.icon-log:before {
  content: "\e997";
}
.icon-logo1:before {
  content: "\e998";
}
.icon-luyou:before {
  content: "\e999";
}
.icon-lxx:before {
  content: "\e99a";
}
.icon-mail:before {
  content: "\e99b";
}
.icon-managed-cluster:before {
  content: "\e99c";
}
.icon-map:before {
  content: "\e99d";
}
.icon-marquee-add:before {
  content: "\e99e";
}
.icon-marquee-subtract:before {
  content: "\e99f";
}
.icon-marquee:before {
  content: "\e9a0";
}
.icon-maximize:before {
  content: "\e9a1";
}
.icon-media:before {
  content: "\e9a2";
}
.icon-memory:before {
  content: "\e9a3";
}
.icon-menu:before {
  content: "\e9a4";
}
.icon-microphone:before {
  content: "\e9a5";
}
.icon-minimize:before {
  content: "\e9a6";
}
.icon-minus:before {
  content: "\e9a7";
}
.icon-mobile:before {
  content: "\e9a8";
}
.icon-monitor:before {
  content: "\e9a9";
}
.icon-moon:before {
  content: "\e9aa";
}
.icon-more:before {
  content: "\e9ab";
}
.icon-move:before {
  content: "\e9ac";
}
.icon-mute:before {
  content: "\e9ad";
}
.icon-net-analysis:before {
  content: "\e9ae";
}
.icon-net+:before {
  content: "\e9af";
}
.icon-netbag:before {
  content: "\e9b0";
}
.icon-open:before {
  content: "\e9b1";
}
.icon-outbox:before {
  content: "\e9b2";
}
.icon-paper-clip:before {
  content: "\e9b3";
}
.icon-paper:before {
  content: "\e9b4";
}
.icon-paragraph:before {
  content: "\e9b5";
}
.icon-pause:before {
  content: "\e9b6";
}
.icon-peixun:before {
  content: "\e9b7";
}
.icon-pie-graph:before {
  content: "\e9b8";
}
.icon-ping:before {
  content: "\e9b9";
}
.icon-play:before {
  content: "\e9ba";
}
.icon-point_down:before {
  content: "\e9bb";
}
.icon-point_left:before {
  content: "\e9bc";
}
.icon-point_right:before {
  content: "\e9bd";
}
.icon-point_top:before {
  content: "\e9be";
}
.icon-power:before {
  content: "\e9bf";
}
.icon-printer:before {
  content: "\e9c0";
}
.icon-proline:before {
  content: "\e9c1";
}
.icon-qq:before {
  content: "\e9c2";
}
.icon-qr-code:before {
  content: "\e9c3";
}
.icon-qxgl:before {
  content: "\e9c4";
}
.icon-qy:before {
  content: "\e9c5";
}
.icon-redhat:before {
  content: "\e9c6";
}
.icon-refresh:before {
  content: "\e9c7";
}
.icon-reload:before {
  content: "\e9c8";
}
.icon-renzheng:before {
  content: "\e9c9";
}
.icon-repeat:before {
  content: "\e9ca";
}
.icon-reply:before {
  content: "\e9cb";
}
.icon-rewind:before {
  content: "\e9cc";
}
.icon-ribbon:before {
  content: "\e9cd";
}
.icon-ribbon2:before {
  content: "\e9ce";
}
.icon-rmb:before {
  content: "\e9cf";
}
.icon-search:before {
  content: "\e9d0";
}
.icon-server:before {
  content: "\e9d1";
}
.icon-settings:before {
  content: "\e9d2";
}
.icon-share:before {
  content: "\e9d3";
}
.icon-shareline:before {
  content: "\e9d4";
}
.icon-shopping:before {
  content: "\e9d5";
}
.icon-shuffle:before {
  content: "\e9d6";
}
.icon-signal:before {
  content: "\e9d7";
}
.icon-skip-back:before {
  content: "\e9d8";
}
.icon-skip-forward:before {
  content: "\e9d9";
}
.icon-sles:before {
  content: "\e9da";
}
.icon-speech-bubble:before {
  content: "\e9db";
}
.icon-square-add:before {
  content: "\e9dc";
}
.icon-square-check:before {
  content: "\e9dd";
}
.icon-square-cross:before {
  content: "\e9de";
}
.icon-square-minus:before {
  content: "\e9df";
}
.icon-square:before {
  content: "\e9e0";
}
.icon-stack-2:before {
  content: "\e9e1";
}
.icon-stack:before {
  content: "\e9e2";
}
.icon-star:before {
  content: "\e9e3";
}
.icon-stretch:before {
  content: "\e9e4";
}
.icon-sun:before {
  content: "\e9e5";
}
.icon-tablelist_down:before {
  content: "\e9e6";
}
.icon-tablelist_left:before {
  content: "\e9e7";
}
.icon-tablelist_right:before {
  content: "\e9e8";
}
.icon-tablelist_top:before {
  content: "\e9e9";
}
.icon-tag:before {
  content: "\e9ea";
}
.icon-tanxingIP:before {
  content: "\e9eb";
}
.icon-thermometer:before {
  content: "\e9ec";
}
.icon-time:before {
  content: "\e9ed";
}
.icon-tips_ico:before {
  content: "\e9ee";
}
.icon-toggle:before {
  content: "\e9ef";
}
.icon-touxiang2:before {
  content: "\e9f0";
}
.icon-trash:before {
  content: "\e9f1";
}
.icon-tv:before {
  content: "\e9f2";
}
.icon-tyjs:before {
  content: "\e9f3";
}
.icon-U:before {
  content: "\e9f4";
}
.icon-uarchive:before {
  content: "\e9f5";
}
.icon-ucdn:before {
  content: "\e9f6";
}
.icon-uddb:before {
  content: "\e9f7";
}
.icon-udde:before {
  content: "\e9f8";
}
.icon-uddp:before {
  content: "\e9f9";
}
.icon-UDhost:before {
  content: "\e9fa";
}
.icon-udisk:before {
  content: "\e9fb";
}
.icon-udpn:before {
  content: "\e9fc";
}
.icon-UDTS:before {
  content: "\e9fd";
}
.icon-udw:before {
  content: "\e9fe";
}
.icon-ufile:before {
  content: "\e9ff";
}
.icon-ufs:before {
  content: "\ea00";
}
.icon-ulb:before {
  content: "\ea01";
}
.icon-uliving:before {
  content: "\ea02";
}
.icon-umbrella:before {
  content: "\ea03";
}
.icon-umem:before {
  content: "\ea04";
}
.icon-umon:before {
  content: "\ea05";
}
.icon-UMQ:before {
  content: "\ea06";
}
.icon-unline:before {
  content: "\ea07";
}
.icon-unlock:before {
  content: "\ea08";
}
.icon-untu:before {
  content: "\ea09";
}
.icon-update:before {
  content: "\ea0a";
}
.icon-upload:before {
  content: "\ea0b";
}
.icon-usable-area:before {
  content: "\ea0c";
}
.icon-usable-area2:before {
  content: "\ea0d";
}
.icon-usafe:before {
  content: "\ea0e";
}
.icon-usec:before {
  content: "\ea0f";
}
.icon-uvdieo:before {
  content: "\ea10";
}
.icon-uwaf:before {
  content: "\ea11";
}
.icon-uws:before {
  content: "\ea12";
}
.icon-video-2:before {
  content: "\ea13";
}
.icon-video:before {
  content: "\ea14";
}
.icon-vip:before {
  content: "\ea15";
}
.icon-volume:before {
  content: "\ea16";
}
.icon-vpc:before {
  content: "\ea17";
}
.icon-VPC2:before {
  content: "\ea18";
}
.icon-wall:before {
  content: "\ea19";
}
.icon-waring:before {
  content: "\ea1a";
}
.icon-watch:before {
  content: "\ea1b";
}
.icon-wechat:before {
  content: "\ea1c";
}
.icon-windows:before {
  content: "\ea1d";
}
.icon-worklist:before {
  content: "\ea1e";
}
.icon-yewu:before {
  content: "\ea1f";
}
.icon-yuan_small:before {
  content: "\ea20";
}
.icon-yuan:before {
  content: "\ea21";
}
.icon-yule:before {
  content: "\ea22";
}
.icon-zhiwang:before {
  content: "\ea23";
}
.icon-zjfw:before {
  content: "\ea24";
}
.icon-zoom-in:before {
  content: "\ea25";
}
.icon-zoom-out:before {
  content: "\ea26";
}
.icon-zoom-out副本:before {
  content: "\ea27";
}

